<% if (success_msg != '') { %>
<div class="flash success-flash visible">
	<p><%= success_msg %></p>
	<span class="dismiss">&times;</span>
</div>
<% } %> <% if (error_msg != '') { %>
<div class="flash error-flash visible">
	<p><%= error_msg %></p>
	<span class="dismiss">&times;</span>
</div>
<% } %> <% if (error != '') { %>
<div class="flash error-flash visible">
	<p><%= error %></p>
	<span class="dismiss">&times;</span>
</div>
<% } %>
