<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>322 Todo</title>
	</head>
	<body>
		<nav>
			<div class="brand">322 Todo</div>
			<li class="nav-item">Home</li>
			<li class="nav-item">Todo</li>
			<li class="nav-item">Shopping</li>
		</nav>
		<h1><%= user[0].username %>'s Dashboard</h1>
	</body>
</html>
