<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login | Householder</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body id="index-body">
		<div class="overlay">
			<%- include ('./partials/messages') %>
			<div class="brand-container">
				<h1 id="brand">Householder</h1>
				<p class="tagline">A homepage for your home</p>
			</div>
			<div class="container">
				<form action="/user/login" method="POST" id="login-form">
					<h2>Login</h2>
					<div class="form-control">
						<label for="email">Email</label>
						<input type="text" id="email" name="email" placeholder="Email" />
						<small>Error Message</small>
					</div>
					<div class="form-control">
						<label for="password">Password</label>
						<input
							type="password"
							id="password"
							name="password"
							placeholder="Password"
						/>
						<small>Error Message</small>
					</div>
					<button type="submit">Login</button>
					<p>Not registered? <a href="/user/register">Sign Up</a></p>
				</form>
			</div>
		</div>
		<script src="/js/script.js"></script>
	</body>
</html>
