@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;700&display=swap');

:root {
	--success-color: #2ecc71;
	--error-color: #f55644;
}

* {
	box-sizing: border-box;
}

body {
	background: url('https://images.unsplash.com/photo-1551970634-747846a548cb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Muli', sans-serif;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	color: #104623;
}

nav {
	width: 100%;
	height: 10vh;
	position: absolute;
	top: 0;
	color: white;
	background-color: #10361d;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-container {
	width: 100%;
	max-width: 1000px;
	height: 10vh;
	display: flex;
	padding: 20px;
	align-items: center;
	justify-content: flex-end;
}

#logout-btn {
	margin: 0;
}

h1 {
	color: white;
}

h2 {
	margin: 0;
}

.container h1 {
	color: inherit;
	font-size: 1.6rem;
	text-align: center;
}

.brand {
	margin-right: auto;
	font-size: 2rem;
	font-family: 'Lora', serif;
	font-weight: bold;
}

.nav-item {
	text-decoration: none;
	list-style-type: none;
	display: flex;
	align-items: center;
	padding: 20px;
	height: 10vh;
}

a {
	color: #02a747;
	text-decoration: none;
}

.overlay {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flash {
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 600px;
	border-radius: 8px;
	padding: 0 20px 0 30px;
}

.error-flash {
	background-color: #ffd7de;
}

.success-flash {
	background-color: #d6f3e5;
}

.visible {
	transform: translateY(180%);
	transition: transform 1s;
}

.dismiss {
	cursor: pointer;
	color: rgba(0, 0, 0, 0.5);
	font-size: 1.6rem;
}

.dismissed {
	display: none;
}

#brand {
	font-family: 'Lora', serif;
	font-size: 5rem;
	margin: 20px;
	color: white;
}

#welcome {
	font-size: 1.6rem;
	font-weight: lighter;
	display: block;
}

.container {
	background-color: #f7fdfa;
	padding: 40px;
	width: 400px;
	border-radius: 8px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

#household-body {
	display: block;
	background: url('https://images.unsplash.com/photo-1473081556163-2a17de81fc97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=2734&q=80');
	background-size: cover;
}

#household-setup-container {
	padding: 0;
	width: 400px;
}

#household-setup-container > .form-control {
	background: white;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-left-radius: 8%;
	border-top-right-radius: 8%;
}

#create-household-btn {
	width: 260px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

form h2 {
	font-size: 1.8rem;
	margin: 0 0 10px;
}

form .form-control {
	margin: 10px;
	width: 100%;
	display: block;
}

form label {
	font-weight: bold;
}

.form-control input {
	display: block;
	padding: 10px;
	margin: 8px 0px;
	border: 2px solid #cecdcd;
	border-radius: 4px;
	font-family: inherit;
	font-weight: bold;
	width: 100%;
}

#join-form-control {
	display: flex;
	align-items: center;
	justify-content: center;
}

#household-code {
	height: 42px;
	padding: 12px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}

#join-btn {
	height: 42px;
	margin: 0;
	width: 100px;
	font-size: 0.9rem;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.form-control.success input {
	border-color: var(--success-color);
}

.form-control.error input {
	border-color: var(--error-color);
}

.form-control small {
	color: var(--error-color);
	display: none;
	font-weight: bold;
}

.form-control.error small {
	color: var(--error-color);
	display: block;
	font-weight: bold;
}

#household-join-form {
	background: #d6f3e5;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 30px;
	border-bottom-left-radius: 8%;
	border-bottom-right-radius: 8%;
}

#household-join-form .form-control {
	width: 260px;
}

#household-dashboard {
	margin: 0px auto 30px auto;
	padding: 50px 10px;
	width: 100%;
	max-width: 900px;
	background-color: #10361d8e;
	border-radius: 20px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-template-areas:
		'chores reminders'
		'chores shopping';
	justify-items: center;
}

#dashboard-header {
	font-family: 'Lora', serif;
	font-size: 2rem;
	padding: 28px 34px 14px;
	margin: 110px auto 0 120px;
	width: 500px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	background-color: #10361d;
}

#chores-container {
	grid-area: chores;
	margin: 15px;
}

#reminders-container {
	grid-area: reminders;
	margin: 15px;
}

#shopping-container {
	grid-area: shopping;
	margin: 15px;
}

button {
	width: 100%;
	padding: 12px;
	margin: 14px 0 8px;
	font-size: 1.1rem;
	font-family: inherit;
	background: #02a747;
	color: #fff;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 3px 6px #00ff8081;
}

button a {
	text-decoration: none;
	color: white;
}

button:hover {
	transform: scale(0.99);
	cursor: pointer;
}

.checkbox-container {
	background: white;
	display: flex;
	padding: 17px;
	margin: 12px;
	align-items: center;
	justify-content: flex-start;
	border-radius: 6px;
	box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.15);
}

.checkbox-container:hover {
	transform: scale(1.02);
}

.checkbox-container label {
	color: #597262;
}

input[type='checkbox'] {
	margin: 0 15px 0 0;
	height: 15px;
	width: 15px;
}

@media only screen and (max-width: 900px) {
	.overlay {
		flex-direction: column;
	}

	#brand {
		font-size: 4rem;
	}

	body {
		overflow: auto;
	}
}
